/** Override Bootstrap */
.wrapper {
    width: 980px;
    margin: 0 auto;
}

#dashboard-side {
    background: #f2f2f2;
    min-height: 500px;
}

#dashboard-main {
    background: #f2f2f2;
    min-height: 500px;
}

.todo_complete {
    color: #b3b3b3;
}

/** Generic Stuff */
.hide {
    display: none;
}